<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>QR Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
         <div class="title">
            <h1>QR Generator</h1>
         </div>
        <div class="continer">
            <div class="input">
                <form action="/generate" method="POST">
                <label>URL Link:</label>
                 <input type="text" name="URL">
                 <input type="submit" value="Generate">
                </form>
            </div>
            <div class="image">
                <img id="ngqr" src="/qr_img.png" alt="just a qr">
                <% if (!locals.data) { %>
                       <%= locals.data %>
                <% } else{%>
                    <%= locals.data %>
                    <% } %>
            </div>
        </div>
    </body>
</html>